* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.score {
    height: 50px;
}

.player-choices {
    img {
        transform: rotate(90deg);
    }
}

.gameplay {
    height: 45vh;
}

.start {
    height: 100vh;
    display: flex;
}

.content {
    display: none;
}

.video {
    height: 100vh;
    display: none;
}